---
import { formatDate } from "../../../lib/utils";
import { getCollection, render } from "astro:content";
import RedWhitePageLayout from "../../../layouts/RedWhitePageLayout.astro";

export const prerender = true;

export async function getStaticPaths() {
    const articles = await getCollection("articles");

    return articles.map((article) => ({
        params: {
            slug: article.data.slug
        },
        props: { article },
    }));
}

const { article } = Astro.props;

if (article === undefined) {
    return new Response("Article not found", { status: 404 });
}

const { Content } = await render(article);

const allArticles = await getCollection("articles");

const relatedArticles = allArticles.filter(
    (relatedArticle) =>
        relatedArticle.data.category === article.data.category &&
        relatedArticle.id !== article.id,
);
---

<RedWhitePageLayout title={article.data.title} useInfoLayout={true}>
    <section class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh">
        <div class="prose prose-lg max-w-none prose-headings:text-black prose-p:text-gray-700 prose-a:text-red-600 prose-strong:text-black prose-code:text-red-600 prose-pre:bg-gray-50 prose-pre:border prose-pre:border-gray-200">
            <Content />
        </div>

        <p class="my-4 text-sm italic text-gray-700">
            This is an excerpt from {`${article.data.author}'s`}
            <a href={article.data.originalLink} target="_blank" class="underline underline-offset-4 decoration-red-300 hover:decoration-red-600 hover:text-red-600">
                {article.data.title}
            </a>
            article. I highly recommend you give it a read!
        </p>

        {
            relatedArticles.length > 0 && (
                <div>
                    <h2 class="mt-8 sm:mt-12 text-lg text-gray-600 font-medium">
                        Related Articles
                    </h2>

                    <ul class="mt-2.5">
                        {relatedArticles.map((article) => (
                            <li class="group">
                                <a href={`/redwhite/blog/${article.data.slug}`}>
                                    <h3 class="text-xl text-black group-hover:text-red-600 underline underline-offset-2 decoration-transparent group-hover:decoration-red-500">
                                        {article.data.title}
                                    </h3>
                                    <p class="mt-0.5 text-sm text-gray-600">
                                        {formatDate((article.data.pubDate))}
                                        &middot; {article.data.author}
                                    </p>
                                </a>
                            </li>
                        ))}
                    </ul>
                </div>
            )
        }
    </section>
</RedWhitePageLayout>